*
{
    margin: 0;
}

svg
{
    background-color: #DDFFDD;
}

#menu
{
    position: absolute;
    top: 2em;
    left: 2em;
    cursor: pointer;
}


#divmenu
{
    position: absolute;
    width: 200px;
    top: 50px;
    text-align: center;
    overflow: hidden;
    overflow-y: auto;
}

.menu_elem
{
    border-radius: 10px;
    background-color: #0F9BFF;
    padding: 0.5em;
    border: 1px solid white;
    color: white;
    font: 20px Arial;
}

.menu_elem:hover
{
    cursor: pointer;
    color: red;
    border: 1px solid white;
}
                   